#inicio-sesion {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#form-inicio-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-inicio-sesion label, #form-inicio-sesion input {
    margin-bottom: 10px;
}

#form-inicio-sesion button {
    margin-top: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 50px;
}


section {
    max-width: 600px;
    margin: auto;
    padding: 40px;
}

section img {
    max-width: 1000px;
    margin-top: 100px;
}


#servicios {
    max-width: 800px;
margin: auto;
    padding: 20px;
}

.servicio {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

#reseñas {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.resena {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
footer {
    background-color: #333;
color: #fff;
    text-align: center;
    padding: 20px;
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
}
